{% extends "base.html" %}
{% block title %}Summary{% endblock %}
{% block content %}
<div id="summary">
    <h1>Summary for {{ date.strftime('%B %d, %Y') }}</h1>
    <ul class="totals-list">
        <li><span>Calories</span><span>{{ '%.0f'|format(totals.calories) }}</span></li>
        <li><span>Protein</span><span>{{ '%.1f'|format(totals.protein_g) }} g</span></li>
        <li><span>Carbs</span><span>{{ '%.1f'|format(totals.carbs_g) }} g</span></li>
        <li><span>Fat</span><span>{{ '%.1f'|format(totals.fat_g) }} g</span></li>
    </ul>
</div>
{% endblock %}